<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 3023829f8e4e5c564f6b4985 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Link faro_t_s -->
  <link name="faro_link">
    <inertial>
      <origin xyz="0 0 -0.000135915" rpy="0 0 0"/>
      <mass value="0.00334875"/>
      <inertia ixx="2.12684e-07" ixy="0" ixz="0" iyy="2.12684e-07" iyz="0" izz="2.18622e-07"/>
    </inertial>
    <!-- Part faro_t_s -->
    <visual>
      <origin xyz="0 0 0.01" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/faro_t_s.stl"/>
      </geometry>
      <material name="faro_t_s_material">
        <color rgba="1 0.756863 0.054902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.01" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/faro_t_s.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_t to faro_t_s -->
  <joint name="faro_joint" type="fixed">
    <origin xyz="0.12 -0 0.06" rpy="-1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="faro_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>
  <!-- Link antena_t_s -->
  <link name="antena_link">
    <inertial>
      <origin xyz="-0 0 -0.0269" rpy="0 0 0"/>
      <mass value="0.00954851"/>
      <inertia ixx="1.73735e-06" ixy="0" ixz="0" iyy="1.73735e-06" iyz="0" izz="2.49144e-07"/>
    </inertial>
    <!-- Part antena_t_s -->
    <visual>
      <origin xyz="-0 0 -0.01" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/antena_t_s.stl"/>
      </geometry>
      <material name="antena_t_s_material">
        <color rgba="0.301961 0.301961 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.01" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/antena_t_s.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_t to antena_t_s -->
  <joint name="antena_joint" type="fixed">
    <origin xyz="-0.12 -0.09 0.1125" rpy="3.14159 -0 0"/>
    <parent link="base_link"/>
    <child link="antena_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>
  <!-- Link ulrasonico -->
  <link name="ulrasonico_der_link">
    <inertial>
      <origin xyz="-0.01865 0.0069 -0.00167339" rpy="0 0 0"/>
      <mass value="0.00321577"/>
      <inertia ixx="1.02141e-07" ixy="-1.0107e-08" ixz="0" iyy="4.76164e-07" iyz="0" izz="5.70005e-07"/>
    </inertial>
    <!-- Part ulrasonico -->
    <visual>
      <origin xyz="-0.01865 0.0069 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/ulrasonico.stl"/>
      </geometry>
      <material name="ulrasonico_material">
        <color rgba="0.32549 0.529412 0.752941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01865 0.0069 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/ulrasonico.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_t to ulrasonico -->
  <joint name="ultrasonico_der_joint" type="fixed">
    <origin xyz="0.03 -0.1 0.09" rpy="-1.5708 -0 0"/>
    <parent link="base_link"/>
    <child link="ulrasonico_der_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>
  <!-- Link ulrasonico_2 -->
  <link name="ulrasonico_iz_link">
    <inertial>
      <origin xyz="-0.01865 0.0069 -0.00167339" rpy="0 0 0"/>
      <mass value="0.00321577"/>
      <inertia ixx="1.02141e-07" ixy="-1.0107e-08" ixz="0" iyy="4.76164e-07" iyz="0" izz="5.70005e-07"/>
    </inertial>
    <!-- Part ulrasonico_2 -->
    <visual>
      <origin xyz="-0.01865 0.0069 0" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/ulrasonico.stl"/>
      </geometry>
      <material name="ulrasonico_2_material">
        <color rgba="0.32549 0.529412 0.752941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01865 0.0069 0" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/ulrasonico.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_t to ulrasonico_2 -->
  <joint name="ultrasonico_iz_joint" type="fixed">
    <origin xyz="0.03 0.1 0.0762" rpy="1.5708 -0 0"/>
    <parent link="base_link"/>
    <child link="ulrasonico_iz_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>
  <!-- Link ulrasonico_3 -->
  <link name="ulrasonico_tra_link">
    <inertial>
      <origin xyz="0.01865 -0.0069 -0.00167339" rpy="0 0 0"/>
      <mass value="0.00321577"/>
      <inertia ixx="1.02141e-07" ixy="-1.0107e-08" ixz="-0" iyy="4.76164e-07" iyz="0" izz="5.70005e-07"/>
    </inertial>
    <!-- Part ulrasonico_3 -->
    <visual>
      <origin xyz="0.01865 -0.0069 0" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/ulrasonico.stl"/>
      </geometry>
      <material name="ulrasonico_3_material">
        <color rgba="0.32549 0.529412 0.752941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.01865 -0.0069 0" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://my_robot_description/assets/ulrasonico.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_t to ulrasonico_3 -->
  <joint name="ultrasonico_tra_joint" type="fixed">
    <origin xyz="-0.11 -0.01865 0.0769" rpy="1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="ulrasonico_tra_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>


</robot>